table{
    width: 100%;
    position: relative;
    top: 0px;
    z-index: 8;
}

th.mat-sort-header-sorted {
    color: black;
  }


  .credited-text{
      color: green;
  }

  .debited-text{
      color:red;
  }

  .amount-text{
      margin-right: 90px;
  }

  .moneystatus-text{
      font-size: 20px;
  }

  .filters-container{
      width: 400px;
      z-index: 10;
      position: absolute;
      top:20px;
      left: 30px;
  }

  .filter-checkbox-item{
      margin-left: 15px ;
  }

  .filter-container{
      margin: 10px;
  }

  .filter-content-container{
      margin-top: 30px;
      margin-bottom: 30px;
  }

  .transaction-list-container{
      margin: 30px;
  }