<div fxLayout="column" class="profile-container">
    <h2>Profile</h2>
    <form>
        <div fxLayout="row" class="profile-basic-container">

        <mat-card class="profile-basic-card">
            <mat-card-content>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <!-- First Name -->
                   
                    
                    <div fxLayout="column">
                        <span>FirstName</span>
                        <span>Raghul</span>
                     </div>
        
                    <!-- Last Name -->
                    <div fxLayout="column">
                        <span>LastName</span>
                        <span>Tamilaiah</span>
                     </div>
        
                     <div fxLayout="column">
                        <span>Date Of Birth</span>
                        <span>25-01-1998</span>
                     </div>

               <div fxLayout="column">
                <span>Gender</span>       
               <span>Male</span>
               </div>
                </div>
            </mat-card-content>
            </mat-card>

        </div>

         <div fxLayout="row" class="profile-additional-container">
              <mat-card class="profile-additional-card">
                  <mat-card-content>

                    <div fxLayout = "row" fxLayoutAlign="space-between none">
                        <div fxLayout ="column">
                            <span>Email</span>
                            <div class="profile-email-item-container">
                                <span class="profile-email-item profile-item-primary">raghulkumar31960@gmail.com</span>
                                <span><mat-icon matTooltip="Primary Email"  matTooltipPosition="above" >mail</mat-icon></span>
                            </div>
                            <div class="profile-email-item-container">
                                <span class="profile-email-item">raghultamil123@gmail.com</span>
                            </div>
                        </div>
                        <div fxLayout = "column">
                            <span>Phone</span>
                            <div class="profile-phone-item-container">
                                <span class="profile-phone-item profile-item-primary">8508774740</span>
                                <span><mat-icon matTooltip="Allowed Mobile" matTooltipPosition="above" >done</mat-icon></span>
                            </div>
                            <div class="profile-phone-item-container">
                                <span class="profile-phone-item">9095444626</span>
                            </div>
                        </div>

                        <div fxLayout="column">
                            <span>Salary</span>
                            <div>
                                <span>20000</span>
                            </div>
                            <div>
                                <span>19000</span>
                            </div>
                        </div>
                    </div>
            

                  </mat-card-content>
              </mat-card>
         </div>
 
       
        <div fxLayout="row">
           
           
        </div>
       
    </form>
</div>