.profile-container{
    margin: 50px;
}

.profile-radio-item{
    margin-right: 10px;
}

.profile-email-item{
    margin-right: 10px;
}

.profile-email-item-container{
    margin-bottom: 5px;
}

.profile-item-primary{
    color:green;
    font-size: 15px;
}

.profile-phone-item{
    margin-right: 10px;
}

.profile-phone-item-container{
    margin-bottom: 5px;
}

.profile-basic-container{
    margin-bottom: 20px;
}

.profile-basic-card{
    width: 100%;
}

.profile-additional-container{
    margin-bottom: 20px;
}

.profile-additional-card{
    width: 100%;
}