.user-add-container{
    margin: 50px;
}

.add-primary{
    margin-left: 10px;
    margin-right: 10px;
}

.add-allow{
    margin-left: 10px;
    margin-right: 10px;
}

.add-new-button{
    background-color: green;
}

.delete-button{
    color: red;
}