
<div fxLayout="column" fxLayoutAlign="space-around center" class="login-container">
    <mat-card class="login-card">
        <mat-card-content>
            <div fxLayout = "column">
                <h1>Login</h1>
                    <mat-form-field >
                      <mat-label>Username</mat-label>
                      <input #username matInput placeholder="Username">
                    </mat-form-field>
                    <mat-form-field >
                        <mat-label>Password</mat-label>
                        <input #password type="password" matInput placeholder="Password">
                      </mat-form-field>
                <button mat-raised-button (click)="authenticateUser(username.value,password.value)" color="primary">Submit</button>
            </div>
        </mat-card-content>
    </mat-card>

</div>