<div fxLayout="column">
    <div fxLayout="row" class="dashboard-container">
        <!-- dashboard card section and month section -->
        <mat-card class="dashboard-item">
            <mat-card-content>
              <h1>Month Salary</h1>
              <p>20,000</p>
            </mat-card-content>
          </mat-card>
        
          <mat-card class="dashboard-item">
        <mat-card-content>
          <h1>Expense Items</h1>
          <p>{{expenseItem}}</p>
        </mat-card-content>
          </mat-card>
          <mat-card class="dashboard-item">
           <mat-card-content>
             <h1>Expense Group</h1>
             <p>{{expenseGroup}}</p>
           </mat-card-content>
          </mat-card>
          <div class="expense-month-selector">
            <mat-form-field >
              <input matInput [matDatepicker] = "dp2" placeholder="select Month " (click)="openDatePicker(dp2)">
              <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
              <mat-datepicker #dp2 startView="multi-year" (monthSelected)="closeDatePicker($event,dp2)"></mat-datepicker>
            </mat-form-field>
          </div>

    </div>

          <div fxLayout="row">


            <div fxLayout="column" class="chart-container">
                <!-- high chart section and category section -->
        
                    <div>
                    <div fxLayout="row" fxLayoutAlign="end center">
                        <mat-form-field  class="chart-options-select" appearance="fill">
                            <mat-label>Chart Options</mat-label>
                            <mat-select (selectionChange)="getChangedOption($event.value)">
                              <mat-option *ngFor="let view of viewOptions" [value]="view.value">
                                {{view.viewValue}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                          <div>
                            <p>Total Expense</p>
                            <p>{{expenseTotal}}</p>
                          </div>
                     </div>
        
                       <highcharts-chart
                       id="expense-chart"
                     [(Highcharts)] = "Highcharts" 
                     [oneToOne]="true"
                     [callbackFunction]="chartCallback"
                     [constructorType]="chartConstructor"
                     [options] = "chartOptions" 
                     [(update)]="updateValue"
                      style = "width: 100%; height: 400px; display: block;">
                      </highcharts-chart>
                  </div>
                 </div>





          </div>

    
</div>