.dashboard-item{
    width: max-content;
    margin-bottom: 40px;
    margin-left: 30px;
}

.expense-month-selector{
    margin-left: 20px;
}

.chart-container{
    width:75%;
}

.chart-options-select{
    width: 150px;
    margin-right: 50px;
}

.category-container{
    width:25%;
    margin:10px ;
}

.dashboard-container{
    margin-top: 20px;
}
