.expense-container{
    width: 200px;
    margin-top: 10px;
    margin-right: 20px;
}

.expenses-container{
    margin-top: 10px;
}
.add-expense-container{
    margin-top: 20px;
    margin-left: 30px;
}
.expense-list-container{
    margin:30px;
}
.expense-item-holder{
    width: 200px;
}
.expense-item-price{
    font-size: 15px;
}
.expense-item-price-red{
    color: red;
}
.expense-item-price-green{
    color:green;
}

.expense-dashboard-card{
    width: max-content;
    margin-top: 10px;
}
table{
    width: 100%;
}
