<div fxLayout="column" class="expense-list-container">
<div fxLayout="row" >
    <button mat-raised-button color="primary"(click)="openAddExpense()" >Add Expense</button>

</div>
    <div fxLayout="row">

        <div>
            <mat-card class="expense-dashboard-card">
                <mat-card-title>
                    <p>Total Expense</p>
                </mat-card-title>
                <mat-card-content>
                    <span>{{expenseItemsTotal}}</span>
                </mat-card-content>
            </mat-card>
        </div>

        <!-- total count card section  -->
    </div>
    <div fxLayout="row" class="add-expense-container">
        <!-- expense group card -->

        

    </div>

    <div fxLayout="row" >
        <div fxFlex="60%"  class="expenses-container">
            <h3>Expense Group</h3>
            <div fxLayout="row wrap" fxLayoutGap="8px">
                <div fxFlex="40%" *ngFor = "let expense of expenses">
                    <mat-card  class="expense-container" >
                        <mat-card-content>
                            <p> {{expense.expenseName}} </p>
                            <h6>Expense Items</h6>
                            <p>{{expense.expenseItems.length}}</p>
                            <button (click)  = 'viewExpense(expense.expenseId)' mat-raised-button color="primary">View</button>
                        </mat-card-content>
                    </mat-card>
                </div>
                
            </div>
            
        </div>

        <div fxFlex="40%" class="expense-item-container">
            <h3>Expense Items</h3>

         <table mat-table [dataSource]="expenseItems">
            <ng-container matColumnDef="expenseItemName">
                <th mat-header-cell *matHeaderCellDef>Expense Item </th>
                <td mat-cell *matCellDef="let ele">{{ele.expenseItemName}}</td>
            </ng-container>
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef>Price</th>
                <td mat-cell *matCellDef="let ele">{{ele.expenseItemPrice * ele.expenseItemQuantity }}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let row; columns: columns;"></tr>
         </table>
        </div>
       

    </div>

    <div fxLayout = "row" >
       
    </div>

</div>